arrow==0.14.2
attrs==19.1.0
binaryornot==0.4.4
bleach==3.1.0
certifi==2019.3.9
chardet==3.0.4
Click==7.0
cookiecutter==1.6.0
decorator==4.4.0
defusedxml==0.6.0
entrypoints==0.3
future==0.17.1
idna==2.8
ipython-genutils==0.2.0
Jinja2==2.10.1
jinja2-time==0.2.0
jsonschema==3.0.1
jupyter-core==4.5.0
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
notedown==1.5.1
pandoc-attributes==0.1.7
pandocfilters==1.4.2
poyo==0.4.2
Pygments==2.4.2
pyrsistent==0.15.2
python-dateutil==2.8.0
requests==2.22.0
six==1.12.0
testpath==0.4.2
traitlets==4.3.2
urllib3==1.25.3
virtualenv==16.6.0
virtualenv-clone==0.5.3
webencodings==0.5.1
whichcraft==0.5.2
